USE [master]
GO
/****** Object:  Database [CargoDB]    Script Date: 2024/1/4 11:00:40 ******/
CREATE DATABASE [CargoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CargoDB', FILENAME = N'E:\DataBase\CargoDB\CargoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CargoDB_log', FILENAME = N'E:\DataBase\CargoDB\CargoDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CargoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CargoDB]
GO
/****** Object:  Table [dbo].[Cargo]    Script Date: 2024/1/4 11:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[TypeId] [int] NOT NULL,
	[TypeName] [nvarchar](50) NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[Price] [decimal](8, 2) NOT NULL,
	[Tag] [nvarchar](256) NULL,
	[InsertDate] [datetime] NOT NULL,
	[MemberId] [int] NOT NULL,
 CONSTRAINT [PK_Cargo] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CargoType]    Script Date: 2024/1/4 11:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CargoType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Tag] [nvarchar](50) NULL,
	[InsertDate] [datetime] NOT NULL,
	[MemberId] [int] NOT NULL,
	[MemberName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CargoType] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 2024/1/4 11:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](32) NOT NULL,
	[Role] [int] NOT NULL,
	[InsertDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Record]    Script Date: 2024/1/4 11:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Record](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CargoId] [int] NOT NULL,
	[CargoName] [nvarchar](50) NULL,
	[Number] [float] NOT NULL,
	[RecordType] [bit] NOT NULL,
	[Tag] [nvarchar](50) NULL,
	[InsertDate] [datetime] NOT NULL,
	[MemberId] [int] NOT NULL,
	[MemberName] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Record_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cargo] ADD  CONSTRAINT [DF_Cargo_InsertDate]  DEFAULT (getdate()) FOR [InsertDate]
GO
ALTER TABLE [dbo].[CargoType] ADD  CONSTRAINT [DF_CargoType_InsertDate]  DEFAULT (getdate()) FOR [InsertDate]
GO
ALTER TABLE [dbo].[Member] ADD  CONSTRAINT [DF_Member_InsertDate]  DEFAULT (getdate()) FOR [InsertDate]
GO
ALTER TABLE [dbo].[Record] ADD  CONSTRAINT [DF_Record_InsertDate]  DEFAULT (getdate()) FOR [InsertDate]
GO
USE [master]
GO
